{% extends 'private_area/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
  <main id="main" class="main">
<div class='container'>

    <div class="btn-group" role="group">
        <a class="btn btn-info" href="{% url 'accounts:signup' %}">Create a new User</a>
    </div>

    <div class="card card-stats">

        <div class="card-header card-header-info">
          <h2 class="card-title">Users Accounts</h2>
        </div>

        <div class="card-body table-responsive">
            <table class="table table-hover table-10">
                <thead class="text-danger">
                    <td>#</td>
                    <td>Name</td>
                    <td>Actions</td>
                </thead>
                <tbody>
                    {% for items in object_list %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td><h4>{{ items }}</h4></td>
                        <td>
                            <a href="{% url 'accounts:password_update' items.pk %}" class="btn btn-primary btn-sm ">Update Password</a>
                            <a href="{% url 'accounts:updateView' items.pk %}" class="btn btn-secondary btn-sm ">Update</a>
                            <a href="{% url 'accounts:deleteView' items.pk %}" class="btn btn-danger btn-sm ">delete</a>
                        </td>
                    </tr>
                    {% empty %}
                        <li>No Accounts yet.</li>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

</div>
  </main>
{% endblock %}


