{% extends 'private_area/base.html' %}


{% block title %}
  Dashboard
{% endblock title %}


{% block content %}
  <main id="main" class="main">
    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        {% include 'private_area/main/left_side.html' %}
        <!-- End Left side columns -->

        <!-- Right side columns -->
        {% include 'private_area/main/right_side.html' %}
        <!-- End Right side columns -->

      </div>
    </section>

  </main><!-- End #main -->
{% endblock content %}
