{% extends 'private_area/base.html' %}


{% block title %}
List View
{% endblock title %}


{% block content %}
  <main id="main" class="main">
    <div class="btn-group" role="group" aria-label="Basic example">
      <a type="button" class="btn btn-secondary" href="{% url 'message_post:list' %}">Messages List List</a>
      <a type="button" class="btn btn-secondary" href="{% url 'message_post:view_saved' %}">Saved Messages</a>
    </div>
    {% block body %}
    {% endblock %}
  </main>
{% endblock %}