{% extends 'messages_system/messagepost_base.html' %}


{% block title %}
    List View
{% endblock title %}


{% block body %}
      <div class="col-12">
            <div class="card recent-sales overflow-auto">
                <div class="card-body">
                    <h5 class="card-title">Messages<span>| Today</span></h5>
                    <table class="table table-borderless datatable">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>From</th>
                    <th>Subject</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in object_list %}
                <tr>
                    <td>
                       <a  {% if not item.read %} style="font-weight: bold" {% endif %}    href="{% url 'message_post:detail' item.pk %}">{{ item.time|date:"m/d/Y" }} </a>
                    </td>
                    <td {% if not item.read %} style="font-weight: bold" {% endif %} >  {{ item.sender_name }} </td>
                    <td {% if not item.read %} style="font-weight: bold" {% endif %}>   {{ item.subject }} </td>
                    <td {% if not item.read %} style="font-weight: bold" {% endif %}>   {{ item.email }} </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            {% if is_message_saved %}
                                  <a type="button" class="btn btn-secondary" href="{% url 'message_post:unsaved' item.pk %}">UnSave</a>
                            {% else %}
                                  <a type="button" class="btn btn-secondary" href="{% url 'message_post:save' item.pk %}">Save</a>
                            {% endif %}
                          <a type="button" class="btn btn-secondary" href="{% url 'message_post:unread' item.pk %}">Unread</a>
                          <a type="button" class="btn btn-secondary" href="{% url 'message_post:delete' item.pk %}">Delete</a>
                        </div>
                    </td>
                </tr>
                {% empty %}
                <li>No objects yet.</li>
                {% endfor %}
            </tbody>
        </table>
                </div>
            </div>
      </div>

{% endblock %}